@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
.hero-container{
    height: 100vh;
    width: auto;
    background-color: #131313;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img{
        height: 390px;
        padding: 15px;
    }
    button{
        background-color:   #cccccc;
        padding: 10px;
        border-radius: 50px;
        font-family: 'Fjalla One', sans-serif;
        color: white;
        letter-spacing: 2px;
    }
}
